<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="101"
    android:versionName="101"
    package="app.grapheneos.gmscompat.lib">

    <application
        android:label="@string/app_label"
        android:forceQueryable="true" />

</manifest>
